name: Lint/Test

on:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      PYTHON_VERSION: "3.12"
    permissions:
      pull-requests: write
      contents: read
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: "${{ env.PYTHON_VERSION }}"

      - name: Run image
        uses: abatilo/actions-poetry@3765cf608f2d4a72178a9fc5b918668e542b89b1

      - name: Format
        uses: psf/black@782e5605c86aab56be6f905da10dcd3e463fd9c2 # v25.12.0

      - name: Install dependencies
        run:  |
          poetry install

      - name: Unit Tests
        run:  |
          set -o pipefail
          poetry run pytest --junitxml=pytest.xml --cov=. tests | tee pytest-coverage.txt

      - name: Comment coverage
        uses: MishaKav/pytest-coverage-comment@ae0e8a539a3f310aefb3bfb6a2209778a21fa42b #v1.2.0
        with:
          pytest-coverage-path: ./pytest-coverage.txt
          junitxml-path: ./pytest.xml
