name: Lint/Test

on:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      PYTHON_VERSION: "3.12"
    permissions:
      pull-requests: write
      contents: read
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: "${{ env.PYTHON_VERSION }}"

      - name: Run image
        uses: abatilo/actions-poetry@3765cf608f2d4a72178a9fc5b918668e542b89b1

      - name: Format
        uses: psf/black@05f0a8ce1f71fbb36e1e032d3b518c7b945089a2 # v25.11.0

      - name: Install dependencies
        run:  |
          poetry install

      - name: Unit Tests
        run:  |
          set -o pipefail
          poetry run pytest --junitxml=pytest.xml --cov=. tests | tee pytest-coverage.txt

      - name: Comment coverage
        uses: MishaKav/pytest-coverage-comment@13d3c18e21895566c746187c9ea74736372e5e91 #v1.1.54
        with:
          pytest-coverage-path: ./pytest-coverage.txt
          junitxml-path: ./pytest.xml
